PORT=3001
NODE_ENV=development
FRONTEND_URL=your_frontend_url_here  #OPTIONAL: Only needed if you want to run it locally, e.g., http://localhost:5173

# Azure SQL Database Credentials
DB_SERVER=your_database_server.database.windows.net #e.g., juniafullstack-sql-0000.database.windows.net
DB_USER=your database user #e.g., sqladmin
DB_PASSWORD=your database password 
DB_NAME=your_database_name # e.g., appdb

